In [1]:
import pandas as pd
pd.options.plotting.backend = "plotly"
import numpy as np
data = pd.read_csv("/home/brandon/Omdena/Omdena Radamol/Project Data/CRC_original_dataset.csv")
from IPython.core.display import display, HTML

display(HTML('<h1><center>CRC Dashboard using Voila</center></h1>'))

/home/brandon/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (24,27) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
#Function for cleaning a dataset from NaN, Inf, and missing data
def clean_dataset(df):
    assert isinstance(data, pd.DataFrame), "df needs to be a pd.DataFrame"
    data.fillna(0, inplace=True)
    indices_to_keep = ~data.isin([np.nan, np.inf, -np.inf]).any(1)
    return data[indices_to_keep].astype(np.float64)

In [3]:
#Feature Extraction of top 20 features

from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
X = data.iloc[:,0:20]  
y = data.iloc[:,-1]

In [4]:
display(HTML('<p><h3><center>This is a basic dashboard to high light features of the Colorectal Dataset with Dataframe</p></h3></center>'))

In [5]:
data.head()

,Unnamed: 0,abd_tend_score,PR_score,age_group,Case_Control,code_D11_1st,code_D11_2nd,code_D12_1st,code_D12_2nd,code_T03_1st,...,diarrhoea_last_year,earliest_rectal_bleeding,rectal_bleeding_last_year,earliest_mild_anaemia,mild_anaemia_last_year,earliest_severe_anaemia,severe_anaemia_last_year,earliest_FOB,FOB_last_year,diarrhoea_duration
0,0,0.0,0.0,1.0,0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,22.0
1,1,0.0,0.0,1.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
2,2,0.0,0.0,2.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
3,3,0.0,0.0,1.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
4,4,0.0,0.0,2.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN

In [6]:
# Replace infinite updated data with nan
data.replace([np.inf, -np.inf], np.nan, inplace=True)
# Drop rows with NaN
data.fillna(0, inplace=True)

In [7]:
#Extracts Features
bestfeatures = SelectKBest(score_func=chi2, k=20)
fit = bestfeatures.fit(X,y)

In [8]:
#Scores each feature
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)

In [9]:
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']

In [10]:
display(HTML('<p><h3><center>Feature Scores</center></h3></p>'))
featureScores

                       Specs          Score
0                 Unnamed: 0   37698.608650
1             abd_tend_score     186.484382
2                   PR_score     792.877476
3                  age_group       9.547794
4               Case_Control     191.448419
5               code_D11_1st     552.919606
6               code_D11_2nd    1989.000000
7               code_D12_1st     105.953738
8               code_D12_2nd     120.154047
9               code_T03_1st     203.843976
10              code_T03_2nd     272.766022
11              code_T08_1st     224.751971
12              code_T08_2nd     287.320142
13            abdominal_pain     209.749717
14  abdominal_pain_frequency     848.692601
15              code_D16_1st     156.523950
16              code_D16_2nd     222.390054
17  haemoglobin_3_categories     170.329937
18                 patientid  115643.937269
19                group_code    9688.461251

In [11]:
#Top 20 Features
print(featureScores.nlargest(20,'Score'))

                       Specs          Score
18                 patientid  115643.937269
0                 Unnamed: 0   37698.608650
19                group_code    9688.461251
6               code_D11_2nd    1989.000000
14  abdominal_pain_frequency     848.692601
2                   PR_score     792.877476
5               code_D11_1st     552.919606
12              code_T08_2nd     287.320142
10              code_T03_2nd     272.766022
11              code_T08_1st     224.751971
16              code_D16_2nd     222.390054
13            abdominal_pain     209.749717
9               code_T03_1st     203.843976
4               Case_Control     191.448419
1             abd_tend_score     186.484382
17  haemoglobin_3_categories     170.329937
15              code_D16_1st     156.523950
8               code_D12_2nd     120.154047
7               code_D12_1st     105.953738
3                  age_group       9.547794

In [12]:
from sklearn.ensemble import ExtraTreesClassifier
import matplotlib.pyplot as plt
model = ExtraTreesClassifier()
model.fit(X,y)

ExtraTreesClassifier()

In [13]:
#Feature importances
feat_importances = pd.Series(model.feature_importances_, index=X.columns)
feat_importances.nlargest(20).plot(kind='barh', figsize=(16, 9))
plt.show()

TypeError: bar() got an unexpected keyword argument 'figsize'

In [ ]:
import seaborn as sns
corrmat = data.corr()
plt.figure(figsize=(20,20))
g=sns.heatmap(data[['code_D11_2nd', 'abdominal_pain_frequency', 'PR_score', 'code_D11_1st', 'code_T08_2nd', 'code_T03_2nd', 'code_T08_1st', 'code_D16_2nd', 'abdominal_pain', 'code_T03_1st', 'Case_Control', 'abd_tend_score', 'haemoglobin_3_categories', 'code_D16_1st', 'code_D12_2nd', 'code_D12_1st', 'age_group'   ]].corr(),annot=True,cmap="RdYlGn")

In [ ]:
plt.subplot(221)

data['age_group'].value_counts().plot(kind='bar', title='Age of patients', figsize=(16,9))

plt.xticks(rotation=0)

plt.subplot(222)

data['abdominal_pain_frequency'].value_counts().plot(kind='bar', title='Abdominal Pain Frequency')

plt.xticks(rotation=0)

plt.subplot(223)

data['code_D11_2nd'].value_counts().plot(kind='bar', title='Random Variable at')

plt.xticks(rotation=0)

plt.subplot(224)

data['Case_Control'].value_counts().plot(kind='bar', title='Were Cancerous')

plt.xticks(rotation=0)

plt.show()

In [ ]:
#Data distribution based on diagnosis vs. age
sns.set(rc={"figure.figsize":(16, 9)})
sns.distplot(data[['Case_Control', 'age_group']])

In [ ]:
#Symptoms by Age
data.groupby('age_group')[['code_D11_2nd', 'abdominal_pain_frequency', 'PR_score', 'code_D11_1st', 'code_T08_2nd', 'code_T03_2nd', 'code_T08_1st', 'code_D16_2nd', 'abdominal_pain', 'code_T03_1st', 'Case_Control', 'abd_tend_score', 'haemoglobin_3_categories', 'code_D16_1st', 'code_D12_2nd', 'code_D12_1st', 'age_group'  ]].mean().T.plot(figsize=(12,8))

In [ ]:
data.groupby('age_group')[['code_D11_2nd', 'abdominal_pain_frequency', 'PR_score', 'code_D11_1st', 'code_T08_2nd', 'code_T03_2nd', 'code_T08_1st', 'code_D16_2nd', 'abdominal_pain', 'code_T03_1st', 'Case_Control', 'abd_tend_score', 'haemoglobin_3_categories', 'code_D16_1st', 'code_D12_2nd', 'code_D12_1st', 'age_group'  ]].mean().T.plot(kind='barh', figsize=(12,8))

In [ ]:
df = data[['code_D11_2nd', 'abdominal_pain_frequency', 'PR_score', 'code_D11_1st', 'code_T08_2nd', 'code_T03_2nd', 'code_T08_1st', 'code_D16_2nd', 'abdominal_pain', 'code_T03_1st', 'Case_Control', 'abd_tend_score', 'haemoglobin_3_categories', 'code_D16_1st', 'code_D12_2nd', 'code_D12_1st', 'age_group'   ]]

In [ ]:
g = sns.PairGrid(df)
g.map(sns.barplot)

In [ ]:
g = sns.barplot(data=df)
g.set_xticklabels(
    labels=['code_D11_2nd', 'abdominal_pain_frequency', 'PR_score', 'code_D11_1st', 'code_T08_2nd', 'code_T03_2nd', 'code_T08_1st', 'code_D16_2nd', 'abdominal_pain', 'code_T03_1st', 'Case_Control', 'abd_tend_score', 'haemoglobin_3_categories', 'code_D16_1st', 'code_D12_2nd', 'code_D12_1st', 'age_group' ], rotation=30)
# Show the plot
plt.show()

In [ ]:
#distribution vs. density
g = sns.violinplot(data=df)
g.set_xticklabels(
    labels=['code_D11_2nd', 'abdominal_pain_frequency', 'PR_score', 'code_D11_1st', 'code_T08_2nd', 'code_T03_2nd', 'code_T08_1st', 'code_D16_2nd', 'abdominal_pain', 'code_T03_1st', 'Case_Control', 'abd_tend_score', 'haemoglobin_3_categories', 'code_D16_1st', 'code_D12_2nd', 'code_D12_1st', 'age_group' ], rotation=30)
# Show the plot
plt.show()

In [ ]:
#Kernal Density
g = sns.kdeplot(data=df)
g.set_xticklabels(
    labels=['code_D11_2nd', 'abdominal_pain_frequency', 'PR_score', 'code_D11_1st', 'code_T08_2nd', 'code_T03_2nd', 'code_T08_1st', 'code_D16_2nd', 'abdominal_pain', 'code_T03_1st', 'Case_Control', 'abd_tend_score', 'haemoglobin_3_categories', 'code_D16_1st', 'code_D12_2nd', 'code_D12_1st', 'age_group' ], rotation=30)
# Show the plot
plt.show()